<div class="col-md-6 mb-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <h5 class="card-title">Your Posts Over Time</h5>
      <canvas id="userPostsChart"></canvas>
    </div>
  </div>
</div>

<div class="col-md-6 mb-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <h5 class="card-title">Your Engagement</h5>
      <canvas id="engagementChart"></canvas>
    </div>
  </div>
</div>
