/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "bootstrap";
body {
  background-image: url('https://img.freepik.com/free-photo/romantic-roses-with-copy-space_23-2148393429.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: #fff;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.list-group-item {
  padding: 1rem;
  border: 1px solid #ddd;
}

.list-group-item h5 {
  font-size: 1.2rem;
}

.card {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  object-fit: cover; /* Ensures the image covers the space */
  height: 200px; /* Fixed image height */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.card .btn {
  font-size: 0.875rem;
}

.form-control-sm {
  width: auto;
  display: inline-block;
}
.input-group .form-control {
  max-width: 200px;
}

